<div ng-controller="IssueController" class="container">
  
  <p></p>
  <a id="backLink" href=""><i class="tiny material-icons">arrow_back</i>&nbsp;Back to Session</a>

  <div class="row">
    <form class="col s12">
      <div class="row"><br />
        <div class="input-field col s12">
            <p class="range-field">
                <input type="range" id="new_estimate" min="0" max="10" />
              </p>
          <a id="btnEstimate" class="waves-effect waves-light btn">Submit Estimate</a>
        </div>
      </div>
    </form>
  </div>

      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/office.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Click to show estimates<i class="material-icons right">more_vert</i></span>
            <div ng-repeat="estimate in estimates"> 
                <div class="chip">
                    <img src="{{estimate.creator_photoURL}}" alt="Contact Person">
                    ?
                  </div>
        
              </div>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Submitted estimates<i class="material-icons right">close</i></span>
            <div ng-repeat="estimate in estimates"> 
                <div class="chip">
                    <img src="{{estimate.creator_photoURL}}" alt="Contact Person">
                    {{estimate.points}}
                  </div>
        
              </div>
          </div>
        </div>
      
</div>